@model IEnumerable<int>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@if (Model != null && Model.Any())
{
    <ul class="list-group list-group-flush">
        @{int n = 1;}
        @foreach (var item in Model)
        {
            <li class="list-group-item">@n - @item</li>
            n++;
        }
    </ul>
}
else
{
    <p class="alert alert-info">No data!</p>
}
